<?xml version="1.0"?>
<launch>
  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find moveit_tutorials)/doc/mesh_filter/urdf/ur5_sensor.urdf.xacro'"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

  <!-- Start Gazebo -->
  <include file="$(find ur_gazebo)/launch/inc/ur_control.launch.xml">
    <arg name="controller_config_file" value="$(find ur_gazebo)/config/ur5_controllers.yaml"/>
    <arg name="controllers" value="joint_state_controller eff_joint_traj_controller"/>
    <arg name="gui" value="false"/>
    <arg name="paused" value="false"/>
    <arg name="stopped_controllers" value="joint_group_eff_controller"/>
  </include>

  <!-- Start Mesh Filter -->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="mesh_filter" args="load mesh_filter/DepthSelfFiltering standalone_nodelet" output="screen">
    <remap to="/camera/depth/image_raw" from="/depth"/>
    <remap to="/camera/color/camera_info" from="/camera_info"/>
    <param name="near_clipping_plane_distance" value="0.05"/>
    <param name="far_clipping_plane_distance" value="1.5"/>
    <param name="shadow_threshold" value="0.1"/>
    <param name="padding_scale" value="1.0"/>
    <param name="padding_offset" value="0.001"/>
  </node>

  <!-- Start rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find moveit_tutorials)/doc/mesh_filter/rviz/mesh_filter.rviz" output="screen">
  </node>
</launch>
