<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <include filename="$(find moveit_tutorials)/doc/mesh_filter/urdf/ur5_sensor.gazebo" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"/>

  <link name="kinect">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://moveit_tutorials/doc/mesh_filter/meshes/kinect.dae"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.07271 0.27794 0.073"/>
      </geometry>
    </collision>
  </link>

  <joint type="fixed" name="kinect_joint">
    <origin xyz="0.15 -1 0.1" rpy="-1.57 0 0"/>
    <child link="kinect"/>
    <parent link="table"/>
    <axis xyz="0 0 0" rpy="0 0 0"/>
    <limit effort="10000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>

  <link name="world" />

  <link name="table">
    <visual>
      <origin rpy="0 0 0" xyz="0 -0.45 -0.03"/>
      <geometry>
        <box size="0.6 1.2 0.05"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <surface>
      <friction>
        <ode>
          <mu>5</mu>
          <mu2>5</mu2>
        </ode>
      </friction>
    </surface>
    <collision name='camera_collision'>
      <origin rpy="0 0 0" xyz="0 -0.45 -0.03"/>
      <geometry>
        <box size="0.6 1.2 0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_table_joint" type="fixed">
    <parent link="world"/>
    <child link="table"/>
  </joint>

  <joint name="table_arm_joint" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
  </joint>


</robot>